{% extends '/main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Members Home</h1>

<h2>Welcome {{user.first_name}} {{user.last_name}}</h2>

<br>
<br>
<br>  

<h1>Content</h1>

<a href="/search/characters"><button type="button" class="btn btn-dark">Search Characters</button></a>


<br>
<br>
<br>

<h1>Other Members</h1>

<a href="/members/ExampleUser/view"><button type="button" class="btn btn-dark">Example User</button></a>


{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% endblock %}