{% extends '/main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<br>







<br>
<br>
<div class="text-center">
    <h1>Featured Characters</h1>
</div>
<br>
<br>

<div class="row">
    <div class="text-center col-4">
        <a href="/view_character/{{featured_character1.character_name}}">
            <h2>{{featured_character1.character_name}}</h2>
        </a>
        <br>
        <img src="{{featured_character1.thumbnail}}" class="rounded mx-auto d-block" style="width: 400px">
        <br>
        <p class="p-4">{{featured_character1.biography}}</p>
    </div>
    <div class="col-8">
        <br>
        <br>
        <br>
        <h3>Appearances</h3>
        <br>
        <div class="row text-center">
            {% for issue in issues1[0:5] %}
            <div class="p-2 m-2 col">
                <div class="card" style="width: 200px">
                    <img src="{{issue.thumbnail}}" class="card-img-top" style="width: 200px; height: 308px">
                    <div class="card-body" style="width: 200px">
                        <a href="/view_single_issue/{{issue.issue_id}}" class="card-link">
                            <h5 class="card-title">{{issue.title}}</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br><br><br><br><br>

<div class="row">
    <div class="text-center col-4">
        <a href="/view_character/{{featured_character3.character_name}}">
            <h2>{{featured_character3.character_name}}</h2>
        </a>
        <br>
        <img src="{{featured_character3.thumbnail}}" class="rounded mx-auto d-block" style="width: 400px">
        <br>
        <p class="p-4">{{featured_character3.biography}}</p>
    </div>
    <div class="col-8">
        <br>
        <br>
        <br>
        <h3>Appearances</h3>
        <br>
        <div class="row text-center">
            {% for issue in issues3[0:5] %}
            <div class="p-2 m-2 col">
                <div class="card" style="width: 200px;">
                    <img src="{{issue.thumbnail}}" class="card-img-top" style="width: 200px; height: 308px">
                    <div class="card-body" style="width: 200px">
                        <a href="/view_single_issue/{{issue.issue_id}}" class="card-link">
                            <h5 class="card-title">{{issue.title}}</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br><br><br><br><br>

<div class="row">
    <div class="text-center col-4">
        <a href="/view_character/{{featured_character2.character_name}}">
            <h2>{{featured_character2.character_name}}</h2>
        </a>
        <br>
        <img src="{{featured_character2.thumbnail}}" class="rounded mx-auto d-block" style="width: 400px">
        <br>
        <p class="p-4">{{featured_character2.biography}}</p>
    </div>
    <div class="col-8">
        <br>
        <br>
        <br>
        <h3>Appearances</h3>
        <br>
        <div class="row text-center">
            {% for issue in issues2[0:5] %}
            <div class="p-2 m-2 col">
                <div class="card" style="width: 200px;">
                    <img src="{{issue.thumbnail}}" class="card-img-top" style="width: 200px; height: 308px">
                    <div class="card-body" style="width: 200px">
                        <a href="/view_single_issue/{{issue.issue_id}}" class="card-link">
                            <h5 class="card-title">{{issue.title}}</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br><br><br><br>
<div class="text-center">
    <h1>Recent Comments</h1>
</div>
<div class="row">
    <div class="scrolling-wrapper row flex-row flex-nowrap">
        {% for comment in comments %}
        <div class="col">
            <div class="homepage-issue-comment-container">
                <a href="/view_single_issue/{{comment.issue.issue_id}}"><img src="{{comment.issue.thumbnail}}" class="homepage-issue-comment-image"></a>
                <div class="homepage-issue-comment-text">
                    <p>{{comment.timestamp.strftime('%d %B %Y')}}</p>
                    <a href="/members/{{comment.username}}/profile">
                        <p>{{comment.username}}</p>
                    </a>
                    <p>{{comment.comment_content}}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

<br><br><br>

<div class="text-center">
    <h2>Search for a character</h2>
    <a href="/search/characters"><button type="button" class="btn btn-dark">Search Characters</button></a>
</div>




<br><br><br><br><br>

<div class="text-center">

    <h1>Lists</h1>
    <a href="/members/{{user.username}}/lists"><button type="button" class="btn btn-dark">My Lists</button></a>
    <a href="/members/create_list_form"><button type="button" class="btn btn-dark">Create New List</button></a>

    <ul>
        {% for list in lists %}
        <li>{{list.list_name}}</li>
        {% endfor %}
    </ul>

    <br>
    <br>

    <h1>Other Members</h1>

    <a href="/members/ExampleUser/view"><button type="button" class="btn btn-dark">Example User</button></a>

{% endblock %}