{% extends '/main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<br><br>
<div class="row row-cols-3 text-center">
    <figure class="p-3 m-3 col">
        <img src="{{show_rand_character1.image}}" class="homepage-character-image">
        <br><br>
        <a href="{{show_rand_character1.href}}">
            <figcaption class="text-center"><b>{{show_rand_character1.name}}</b></figcaption>
        </a>
    <figure class="p-3 m-3 col text-center">
        <img src="{{show_rand_character2.image}}" class="homepage-character-image">
        <br><br>
        <a href="{{show_rand_character2.href}}">
            <figcaption class="text-center"><b>{{show_rand_character2.name}}</b></figcaption>
        </a>
    </figure>
    <figure class="p-3 m-3 col text-center">
        <img src="{{show_rand_character2.image}}" class="homepage-character-image">
        <br><br>
        <a href="{{show_rand_character2.href}}">
            <figcaption class="text-center"><b>{{show_rand_character2.name}}</b></figcaption>
        </a>
    </figure>
    <figure class="p-3 m-3 col text-center">
        <img src="{{show_rand_character3.image}}" class="homepage-character-image">
        <br><br>
        <a href="{{show_rand_character3.href}}">
            <figcaption class="text-center"><b>{{show_rand_character3.name}}</b></figcaption>
        </a>
    </figure>
</div>

<br>
<hr>

<br>
<br>
<div class="text-center">
    <h1>Featured Characters</h1>
</div>
<br>
<br>
<div class="row">
    <div class="text-center col-4">
        <div class="homepage-character-container">

            <img src="{{featured_character1.thumbnail}}" class="homepage-character-image">
            <br>
            <br>
            <a href="/view_character/{{featured_character1.character_name}}">
                <h2>{{featured_character1.character_name}}</h2>
            </a>
            <p class="m-4">{{featured_character1.biography}}</p>
        </div>
    </div>
    <div class="col-8">
        <h3>Appearances</h3>
        <hr>
        <div class="row text-center">
            {% for issue in issues1[0:5] %}
            <div class="homepage-issue-container">
                <img src="{{issue.thumbnail}}" class="homepage-issue-image">
                <div class="homepage-issue-caption">
                    <a href="/view_single_issue/{{issue.issue_id}}">
                        <p class="homepage-issue-caption-text"><b>{{issue.title}}</b></p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="text-center col-4">
        <div class="homepage-character-container">

            <img src="{{featured_character2.thumbnail}}" class="homepage-character-image">
            <br>
            <br>
            <a href="/view_character/{{featured_character2.character_name}}">
                <h2>{{featured_character2.character_name}}</h2>
            </a>
            <p class="m-4">{{featured_character2.biography}}</p>
        </div>
    </div>
    <div class="col-8">
        <h3>Appearances</h3>
        <hr>
        <div class="row text-center">
            {% for issue in issues2[0:5] %}
            <div class="homepage-issue-container">
                <img src="{{issue.thumbnail}}" class="homepage-issue-image">
                <div class="homepage-issue-caption">
                    <a href="/view_single_issue/{{issue.issue_id}}">
                        <p class="homepage-issue-caption-text"><b>{{issue.title}}</b></p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="text-center col-4">
        <div class="homepage-character-container">

            <img src="{{featured_character3.thumbnail}}" class="homepage-character-image">
            <br>
            <br>
            <a href="/view_character/{{featured_character3.character_name}}">
                <h2>{{featured_character3.character_name}}</h2>
            </a>
            <p class="m-4">{{featured_character3.biography}}</p>
        </div>
    </div>
    <div class="col-8">
        <h3>Appearances</h3>
        <hr>
        <div class="row text-center">
            {% for issue in issues3[0:5] %}
            <div class="homepage-issue-container">
                <img src="{{issue.thumbnail}}" class="homepage-issue-image">
                <div class="homepage-issue-caption">
                    <a href="/view_single_issue/{{issue.issue_id}}">
                        <p class="homepage-issue-caption-text"><b>{{issue.title}}</b></p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br>



<br><br><br><br>
<div class="text-center">
    <h1>Recent Comments</h1>
</div>
<div class="row">
    <div class="scrolling-wrapper row flex-row flex-nowrap">
        {% for comment in comments %}
        <div class="col">
            <div class="homepage-issue-comment-container">
                <a href="/view_single_issue/{{comment.issue.issue_id}}"><img src="{{comment.issue.thumbnail}}" class="homepage-issue-comment-image"></a>
                <div class="homepage-issue-comment-text">
                    <p>{{comment.timestamp.strftime('%d %B %Y')}}</p>
                    <a href="/members/{{comment.username}}/profile">
                        <p>{{comment.username}}</p>
                    </a>
                    <p>{{comment.comment_content}}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>


<br><br><br><br><br>

<div class="text-center">

    <h1>Lists</h1>
    <a href="/members/{{user.username}}/lists"><button type="button" class="button">My Lists</button></a>
    <a href="/members/create_list_form"><button type="button" class="button">Create New List</button></a>

    <ul>
        {% for list in lists %}
        <li>{{list.list_name}}</li>
        {% endfor %}
    </ul>

    <br>
    <br>

    <h1>Other Members</h1>

    <a href="/members/ExampleUser/view"><button type="button" class="button">Example User</button></a>

{% endblock %}