{% extends '/main/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<h1>Own Profile</h1>

<h2>username: {{user.username}}</h2>

<p>username: {{user.username}}</p>
<p>first name: {{user.first_name}}</p>
<p>last name: {{user.last_name}}</p>
<p>email: {{user.email}}</p>

<h2>Lists</h2>
<a href="/members/{{user.username}}/lists"><button class="btn btn-dark">My Lists</button></a>
<a href="/members/create_list_form"><button class="btn btn-dark">Create New List</button></a>

<ul>
    {% for list in lists %}
    <li>{{list.list_name}}</li>
    {% endfor %}
</ul>


{% endblock %}