{% extends '/main/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="row">
    <div class ="col-3 text-center">
            <img src="/static/icons/{{user.thumbnail}}" style="height: 250px; width: 250px" class="m-3 p-1">
        <hr>
            <h1>{{user.username}}</h1>
        <br>
            <p>{{user.first_name}} {{user.last_name}}</p>
            <p>{{user.email}}</p>
            <a href="/member/{{username}}/edit"><button class="btn btn-dark m-1">Edit Info</button></a>
        <br>
        <br>
        <hr>
            <h3>Lists</h3>
            {% for list in lists %}
                <a href="/view_list_contents/{{username}}/{{list.list_id}}"><button class="btn btn-dark m-1">{{list.list_name}}</button></a>
            <br>
            {% endfor %}
        <br>
            <a href="/members/create_list_form"><button class="btn btn-secondary">Create New List</button></a>
    </div>
    <div class="col-9">
        {% for list in lists %}

        {% endfor %}
    </div>
</div>

{% endblock %}