{% extends '/main/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="row m-2 p-2">
    <div class ="col-3 text-center">
            <img src="/static/icons/{{user.thumbnail}}" style="height: 250px; width: 250px">
            <br>
            <h5>{{user.username}}</h5>
        <hr>
            <p>{{user.first_name}} {{user.last_name}}</p>
            <p>{{user.email}}</p>
            <a href="/member/{{username}}/edit"><button class="button-small">Edit Info</button></a>
        <br>
        <hr>
            <h3>Lists</h3>
            {% for list in lists %}
                <a href="/view_list_contents/{{username}}/{{list.list_id}}"><button class="button-small" >{{list.list_name}}</button></a>
            <br>
            {% endfor %}
        <br><br>
            <a href="/members/create_list_form"><button class="button-small" >Create New List</button></a>
    </div>

    <div class="col">
        <div class="profile-main-container">
            
            <h3>Recommendations</h3>
            <div class="row">
                {% for issue in recommended_issues[rand_int_recommend:rand_int_recommend+3] %}
                <div class="homepage-issue-container">
                    <img src="{{issue.thumbnail}}" class="homepage-issue-image">
                    <div class="homepage-issue-caption">
                        <a href="/view_single_issue/{{issue.issue_id}}">
                            <p class="homepage-issue-caption-text"><b>{{issue.title}}</b></p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <br><br>

            <h3>Your Comments</h3>
            
            {% if number_of_comments == 0 %}
                <br>
                <p>You have not commented on anything yet. Future comments will appear here</p>
                <br><br><br><br>
            {% else %}
                {% for comment in comments %}
                    <div class="homepage-issue-comment-container">
                        <a href="/view_single_issue/{{comment.issue.issue_id}}"><img src="{{comment.issue.thumbnail}}"
                                class="homepage-issue-comment-image"></a>
                        <div class="homepage-issue-comment-text">
                            <p>{{comment.timestamp.strftime('%d %B %Y')}}</p>
                            <a href="/members/{{comment.username}}/profile">
                                <p>{{comment.username}}</p>
                            </a>
                            <p>{{comment.comment_content}}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}






        </div>

        



        {% for list in lists %}
        {% endfor %}
        <br><br><br>
    </div>
</div>

{% endblock %}