<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="text-center">
    <span>
        <h1 class="bg-dark display-1 text-white p-4">Application Name</h1>
    </span>
</div>
<!-- start navbar formatting -->
    {% if 'username' not in session %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">#</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/members/members_home/{{username}}"><b>#</b></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/members/members_home/{{username}}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/members/{{username}}/profile">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/search/characters"><b>Characters</b></a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="/view/issues"><b>Issues</b></a>
                </li> -->
            </ul>
        </div>
    {% endif %}
    </nav>
<!-- end navbar formatting -->
<!-- flash messages -->
<div class="text-center">
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="alert alert-dark">
    {% for message in messages %}
    <li class="list-unstyled">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</div>
<!-- end flash messages -->

{% block content %}
{% endblock %}

<br>
<br>

</html>