{% extends '/main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Home</h1>

<p>Don't want to create an account? Automatically generate a disposable accout to test our features <a href="/register_disposable"><button type="button" class="btn btn-dark">Here</button></a></p>


{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


{% endblock %}