{% extends '/main/base.html' %}
{% block title %}Test Comic View{% endblock %}
{% block content %}

<h1>Test view</h1>

<ul>
    {% for char in my_character %}
        <li>{{char['resourceURI']}}</li>
    {% endfor %}
</ul>

<h1>SPACE1</h1>

<ul>
    {% for char in my_character %}
    <li>{{char['thumbnail']['path']}}.jpg</li>
    {% endfor %}
</ul>


<h1>SPACE2</h1>

    {% for char in my_character %}
    <img id='character-main' src="{{char['thumbnail']['path']}}.jpg">
    {% endfor %}



<h1>SPACE3</h1>

<p>{{my_character}}</p>



{% endblock %}