{% extends '/main/base.html' %}
{% block title %}Search Characters{% endblock %}
{% block content %}
<div class="text-center">

<br>
<h1>Characters</h1>
<div class="row row-cols-3">
    <figure class="p-3 m-3 col">
        <img src="{{show_rand_character1.image}}" style="width: 400px; height: 400px">
        <a href="{{show_rand_character1.href}}">
            <figcaption class="text-center">{{show_rand_character1.name}}</figcaption>
        </a>
    </figure>
    <figure class="p-3 m-3 col">
        <img src="{{show_rand_character2.image}}" style="width: 400px; height: 400px">
        <a href="{{show_rand_character2.href}}">
            <figcaption class="text-center">{{show_rand_character2.name}}</figcaption>
        </a>
    </figure>
    <figure class="p-3 m-3 col">
        <img src="{{show_rand_character3.image}}" style="width: 400px; height: 400px">
        <a href="{{show_rand_character3.href}}">
            <figcaption class="text-center">{{show_rand_character3.name}}</figcaption>
        </a>
    </figure>
</div>
<br>
<br>


<h1>Search Characters</h1>

<form method='POST'>
    {{form.hidden_tag()}}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field}}
    </p>
    {% endfor %}

    <button class="button">Submit</button>
</form>





</div>
{% endblock %}