{% extends '/main/base.html' %}
{% block title %}Character Details{% endblock %}
{% block content %}


<div class="text-center">
<br>
    <h1>{{character.character_name}}</h1>
<br>
    <img src="{{character.thumbnail}}" class="rounded mx-auto d-block" style="width: 400px">
<br>
    <h3>Biography</h3>
    <p>{{character.biography}}</p>


<div class="m-4">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Add this character to a list</a>
        <div class="dropdown-menu">
            {% for list in lists %}
            <a href="/add_character/{{character.character_name}}/to/{{list.list_id}}"
                class="dropdown-item">{{list.list_name}}</a>
            {% endfor %}
        </div>
    </div>
</div>


<h3>Appearances</h3>

<div class="row text-center">
    {% for issue in issues %}
    <div class="p-2 m-2 col">
        <div class="card" style="width: 300px;">
            <img src="{{issue.thumbnail}}" class="card-img-top" style="width: 300px; height: 463px">
            <div class="card-body" style="width: 300px">
                <a href="/view_single_issue/{{issue.issue_id}}" class="card-link"><h5 class="card-title">{{issue.title}}</h5></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}