{% extends '/main/base.html' %}
{% block title %}Character Details{% endblock %}
{% block content %}


<div class="text-center">
<br>
    <h1>{{single_character['name']}}</h1>
<br>
    <img src="{{single_character['thumbnail']['path']}}.jpg" class="rounded mx-auto d-block" style="width: 400px">
<br>
    <h3>Biography</h3>
    <p>{{single_character['description']}}</p>
<br>


<div class="m-4">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Add this character to a list</a>
        <div class="dropdown-menu">
            {% for list in lists %}
            <a href="/add_character/{{single_character['name']}}/to/{{list.list_id}}" class="dropdown-item">{{list.list_name}}</a>
            {% endfor %}
        </div>
    </div>
</div>



<h3>Appearances</h3>
<div class="row text-center">
    {% for comic in comic_series %}
    <div class="p-2 m-2">
        <figure>
            <img src="{{comics.get(comic['id'])['data']['results'][0]['thumbnail']['path']}}.jpg" style="width: 300px; height: 463px">
            <a href="/view_single_issue/{{comic['id']}}">
                <figcaption style="width: 250px; text-align:center">{{comic['title']}}</figcaption>
            </a>
        </figure>
    </div>
    {% endfor %}
</div>



    <p>{{character_data}}</p>

</div>
{% endblock %}