
/* main */
#page-container {
  position: relative;
  min-height: 100vh;
  padding: 5px;
}
#footer {
  position: absolute;
  bottom: 0;
  padding: 5px;
  width: 100%;
  height: 0px;
}






/* marquee */
/* marquee {
  background: #dbdbdb;
} */

.marquee-image {
  height: 220px;
  margin: 20px 3px 6px;
  /* width: auto; */
}

.marquee-image:hover {
  transform: translateY(-12px);
  transition: 300ms;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}







/* navbar formatting */
.navigation-container {
  width: 100%;
}

.navbar {
  padding: 5px;
  background: #dbdbdb;
  font-family: Arial, sans serif;
  font-size: 20px;
  /* margin: auto; */
}

.nav-item {
  display: inline-block;
  padding: 10px;
  color: white;
  text-decoration: none;
}







/* homepage featured characters */
.card-body {
  height: 145px;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-12px);
  transition: 300ms;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}









/* homepage comments */
.scrolling-wrapper {
  margin: 50px;
  overflow-x: auto;
  height: auto;
}

.homepage-issue-comment-container {
  width: 280px;
  height: 595px;
  overflow: hidden;
}

.homepage-issue-comment-image {
  width: 250px;
  height: 385px;
}

.homepage-issue-comment-text {
  padding: 20px;
  width: 250px;
  height: 210px;
  overflow: hidden;
}







