{% extends '/main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<br>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h2>Log In</h2>
        <br>
        <form method="POST">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}

            <p>{{field.label.text}}

                {{ field (class="form-control") }}</p>

            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}


            {% endfor %}

            <button class="button">Submit</button>
        </form>
    </div>
    
</div>
<br><br>
<div class="text-center">
    <p>click <a href="/register_disposable">here</a> if you're a hiring manager</p>
</div>
<br><br><br><br>
{% endblock %}