{% extends '/main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<br>
<br>
<br>

<div style="text-align: center">
    <form method='POST'>
        {{form.hidden_tag()}}
        <p>If you are a developer and wish to bypass the registration process, clicking Agree will generate random credentials. You will have full access, but will not be able to return to your account.</p>
        <button class="btn btn-dark">Agree</button>
    </form>

    <br>

    <a href="/register"><button type="button" class="btn btn-dark">Register an account instead</button></a>

    <br>
    <br>
    <br>
    <br>
    <br>

    <p>Be sure to check out the GitHub for this application</p>
    <a href="https://github.com/josephlarrivy/springboard-capstone-1" target="_blank"><button type="button" class="btn btn-dark">View GitHub</button></a>
</div>

{% endblock %}