{% extends '/main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="p-4 m-4">
<h1>Register</h1>
<form method='POST'>
    {{form.hidden_tag()}}
    
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field}}
    </p>
    {% endfor %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <button class="btn btn-dark">Submit</button>
</form>
</div>

{% endblock %}