{% extends '/main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<br>
<br>
<br>

<div style="text-align: center">
    <form method='POST'>
        {{form.hidden_tag()}}
        <p>If you are a developer and wish to bypass the registration process, clicking Continue will generate random credentials. You will have access to all features, but will not be able to return to your account once logged out.</p>
        <button class="button">Continue</button>
    </form>

    <br>

    <a href="/register"><button type="button" class="button">Register an account instead</button></a>

    <br>
    <br>
    <br>
    <br>
    <br>

    <p>Be sure to check out the GitHub for this application</p>
    <a href="https://github.com/josephlarrivy/Marvel-Data" target="_blank"><button type="button" class="button">View GitHub</button></a>
</div>

{% endblock %}