{% extends '/main/base.html' %}
{% block title %}{{issue.title}}{% endblock %}
{% block content %}

<div class="text-center">
<br>
<br>
    <h1>{{issue.title}}</h1>
<br>
<br>
<br>
    <div class="row" style="width:90%">
        <div class="col" style="width:30%">
            <img src="{{issue.thumbnail}}" style="width: 400px; height: 617px">
            <div class="m-4">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Add this issue to a list</a>
                    <div class="dropdown-menu">
                        {% for list in lists %}
                        <a href="/add_issue/{{issue.issue_id}}/to/{{list.list_id}}" class="dropdown-item">{{list.list_name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="width:30%">
            <h3>Description</h3>
                <p>{{issue.description}}</p>
            <br>
            <h3>Creators</h3>
            <ul class="list-unstyled">
                {% for creator in creators %}
                <li>{{creator['name']}}</li>
                {% endfor %}
            </ul>
            <br>
            <h3>Characters</h3>
            <ul class="list-unstyled">
                {% for character in characters %}
                <a href="/view_character/{{character['name']}}">
                    <li>{{character['name']}}</li>
                </a>
                {% endfor %}
            </ul>
            <br>
            <h3>This issue is a part of:</h3>
                <a href="/series/{{series_id}}"><p>{{series_name}}</p></a>
        </div>
    </div>
    <br>
<br>
<hr>
<br>
<h3>Comments</h3>
<br>
<div class="row">
    {% for comment in issue.comments %}
        <div class="col-7 m-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User <b>{{comment.username}}</b> says:</h5>
                    <p class="card-text">{{comment.comment_content}}</p>
                    <a href="/members/{{comment.username}}/profile" class="btn btn-dark">View Profile</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-4">
        <form method='POST'>
            {{form.hidden_tag()}}
            {% for field in form if field.widget.input_type != 'hidden' %}
                <h5>{{field.label}}</h5>
                <p>{{field}}</p>
            {% endfor %}
            <button class="btn btn-dark">Submit</button>
        </form>
    </div>
<br>
<br>
</div>
{% endblock %}