{% extends '/main/base.html' %}
{% block title %}{{series_data['title']}}{% endblock %}
{% block content %}

<br><br>
<div class="text-center">
<h1>{{series_data['title']}}</h1>
<br><br>

<div class="character-page-issues-container">
    <div class="row">
        {% for comic in series_comics %}
        <div class="homepage-issue-container">
            <img src="{{comics.get(comic['resourceURI'].removeprefix('http://gateway.marvel.com/v1/public/comics/'))['data']['results'][0]['thumbnail']['path']}}.jpg" class="homepage-issue-image">
            <div class="homepage-issue-caption">
                <a href="/view_single_issue/{{comic['resourceURI'].removeprefix('http://gateway.marvel.com/v1/public/comics/')}}">
                    <p class="homepage-issue-caption-text"><b>{{comic['name']}}</b></p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




</div>

{% endblock %}