{% extends '/main/base.html' %}
{% block title %}{{issue.title}}{% endblock %}
{% block content %}

<div class="text-center">
    <br>
    <h1>{{issue.title}}</h1>
    <br>
    <img src="{{issue.thumbnail}}" style="width: 300px; height: 463px">
    <br>
    <br>
    <h3>Description</h3>
    <p>{{issue.description}}</p>

    <div class="m-4">
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Add this issue to a list</a>
            <div class="dropdown-menu">
                {% for list in lists %}
                <a href="/add_issue/{{issue.issue_id}}/to/{{list.list_id}}"
                    class="dropdown-item">{{list.list_name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>


<h3>Creators</h3>
<ul class="list-unstyled">
    {% for creator in creators %}
    <li>{{creator['name']}}</li>
    {% endfor %}
</ul>
<br>
<h3>Characters</h3>
<ul class="list-unstyled">
    {% for character in characters %}
    <a href="/view_character/{{character['name']}}">
        <li>{{character['name']}}</li>
    </a>
    {% endfor %}
</ul>
<br>
<br>
<br>
</div>
{% endblock %}